@model int

@{
    ViewBag.Title = "Edit";
}

<input type="hidden" id="hdnAppId" value="@Model"/>

<h2>Edit</h2>

<label>Amount</label>
<input type="text" id="txtAmount"/>

@section PageScript
{
    <script src="~/Scripts/mustache.js"></script>
    <script src="~/Scripts/views/applications/edit.js"></script>
}
