
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @Html.ActionLink("Manage Applicants", "Index", "Applicants")
</div>

<div>
    @Html.ActionLink("Manage Applications", "Index", "Applications")
</div>

